<body class="text-center mx-auto mt-5">
  <main class="form-signin">
    <form>
      <div>
        <img src="/assets/angular.svg" alt="Angular Logo" height="84" />
      </div>
      <h1 class="h3 mt-3 mb-3 fw-normal">Register</h1>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="userEmail"
          #userEmail
          required
        />
        <label for="floatingInput">Email</label>
      </div>

      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          #userPassword
          required
        />
        <label for="floatingPassword">Password</label>
      </div>

      <button
        type="button"
        class="signin-btn w-100 btn btn-outline-primary"
        (click)="authService.SignUp(userEmail.value, userPassword.value)"
      >
        Register
      </button>
      <div class="redirectToLogin">
        <div class="redirect">
          <button
            type="button"
            class="register btn btnPrimary"
            [routerLink]="['/sign-in']"
          >
            Already Registered?
          </button>
        </div>
      </div>
    </form>
  </main>
</body>
